.experience-section {
    position: relative;
}

.experience-section::after {
    content: "";
    position: absolute;
    background-color: #1c830b;
    width: .0625rem;
    height: 100%;
    right: 0;
    margin-right: .3125rem;
}

.experience {
    color: #e0e0e0;
}

.before-exp {
    position: relative;
}

.experience-description::after {
    content: "";
    position: absolute;
    background: url("/public/img/Detail Medium Ball.svg") no-repeat;
    width: 4.0625rem;
    height: 28.875rem;
    left: -5.5rem;
}

.experience-description {
    font-size: 1.5rem;
    line-height: 1.33;
    max-width: 40ch;
    margin-bottom: 3.75rem;
    color: #525252;
}

.experience-description strong {
    color: #141414;
}

.project {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .625rem 1.25rem;
    padding: 1.25rem;
    background-color: #f5f5f5;
    margin-bottom: 1.25rem;
    border-radius: .25rem;
    position: relative;
    box-shadow: 0 .125rem .3125rem #e7e7e7 ;
}

.project::before {
    position: absolute;
    content: "";
    display: block;
    width: .25rem;
    height: 1.25rem;
    background: linear-gradient(#3cb02a, #1c830b);
    top: 1.25rem;
    left: -.25rem;
}

.project-year {
    position: absolute;
    text-align: right;
    top: 1.328rem;
    left: -5rem;
    width: 4rem;
    color: #525252;
    font-size: .875rem;
}

#cerrado-geeks {
    color: #1c830b;
}

.project-description {
    font-size: 0.875rem;
    line-height: 1.4;
    color: #525252;
}

.skill-tree {
    display: flex;
    flex-wrap: wrap;
    gap: .675rem;
    align-content: start;
}

.skill {
    font-size: .875rem;
    line-height: 1.4;
    border-radius: .25rem;
    background-color: #fff;
    padding: .3125rem .625rem;
}

@media (max-width: 1000px) {
    .experience-section::after {
        display: none;
    }
}

@media (max-width: 800px) {
    .experience {
        color: #141414;
    }

    .experience-description {
        font-size: 1.25rem;
        max-width: initial;
    }

    .project-year {
        position: initial;
        order: 99999;
        width: initial;
        text-align: left;
        font-weight: bold;
    }
}

@media (max-width: 400px) {
    .project {
        grid-template-columns: 1fr;
    }
}