.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem 0;
}

.portfolio-item-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.175rem;
  font-weight: 700;
  margin-bottom: .5rem;
}

.portfolio-item-title.github::before {
  content: '';
  display: inline-block;
  min-width: 1rem;
  min-height: 1rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../img/icons/github.svg');
  margin-right: .5rem;
}

.portfolio-item-link {
  color: #e3e3e3;
  font-size: .75rem;
  margin-left: 1.5rem;
}

@media only screen and (min-width: 800px) {
  .portfolio-item {
    max-width: 800px;
  }

  .portfolio-item-link {
    font-size: .875rem;
  }
}